ecstore/app/desktop/xmlschema/content.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2007 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="workground">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="menugroup" maxOccurs="unbounded"/>
            </xs:sequence>
            <xs:sequence>
                <xs:element ref="menu" maxOccurs="unbounded"/>
            </xs:sequence>            
            <xs:attribute name="id" type="xs:string"/>
            <xs:attribute name="controller" type="xs:string" use="required"/>
            <xs:attribute name="action" type="xs:string"/>
            <xs:attribute name="name" type="xs:string"/>
            <xs:attribute name="display" type="xs:string"/>
            <xs:attribute name="order" type="xs:string"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="menugroup" maxOccurs="unbounded">
        <xs:complexType>
            <xs:sequence>
            <xs:element ref="menu" maxOccurs="unbounded"/>
            </xs:sequence>
            <xs:attribute name="name" type="xs:string"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="menu">
    <xs:complexType>
        <xs:simpleContent>
            <xs:extension base="xs:string">
            <xs:attribute name="controller" type="xs:string" use="required"/>
            <xs:attribute name="action" type="xs:string"/>
            <xs:attribute name="permission" type="xs:string"/>
            <xs:attribute name="display" type="xs:string"/>
            <xs:attribute name="order" type="xs:string"/>
             <xs:attribute name="target" type="xs:string"/>
            <xs:attribute name="params" type="xs:string"/>
            </xs:extension>
        </xs:simpleContent>        
    </xs:complexType>
    </xs:element>
    <xs:element name="permissions">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="permission" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="permission">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute name="id" type="xs:string"/>
                    <xs:attribute name="display" type="xs:string"/>
                    <xs:attribute name="save" type="xs:string"/>
                    <xs:attribute name="show" type="xs:string"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="permission_allow" type="xs:string"/>
    <xs:element name="panelgroup">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute name="id" type="xs:string" use="required"/>
		    <xs:attribute name="disabled" type="xs:string" use="required"/>
                    <xs:attribute name="icon" type="xs:string" use="required"/>
                    <xs:attribute name="order" type="xs:string"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="widgets">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute name="id" type="xs:string" use="required"/>
                    <xs:attribute name="order" type="xs:string"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="adminpanel">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute name="group" type="xs:string" use="required"/>
                    <xs:attribute name="controller" type="xs:string" use="required"/>
                    <xs:attribute name="action" type="xs:string"/>
                    <xs:attribute name="display" type="xs:string"/>
                    <xs:attribute name="permission" type="xs:string"/>
                    <xs:attribute name="order" type="xs:string"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="desktop">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="workground" maxOccurs="unbounded"/>
                <xs:element ref="panelgroup" maxOccurs="unbounded"/>
                <xs:element ref="adminpanel" maxOccurs="unbounded"/>
                <xs:element ref="widgets" maxOccurs="unbounded"/>
                <xs:element ref="permissions" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>