ecstore/app/base/xmlschema/app.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2007 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="version" type="xs:float"/>
	<xs:element name="url" type="xs:anyURI"/>
	<xs:element name="name" type="xs:string"/>
	<xs:element name="main_app">
		<xs:complexType>
			<xs:sequence>
			<xs:attribute name="exclusion" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="node_id" type="xs:string"/>
	<xs:element name="license" type="xs:string"/>
	<xs:element name="email" type="xs:string"/>
	<xs:element name="description" type="xs:string"/>
	<xs:element name="author">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="name"/>
				<xs:element ref="email"/>
				<xs:element ref="url"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="app">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="name"/>
				<xs:element ref="main_app"/>
				<xs:element ref="node_id"/>
				<xs:element ref="description"/>
				<xs:element ref="author"/>
				<xs:element ref="version"/>
				<xs:element ref="api_ver"/>
				<xs:element ref="license"/>
				<xs:element ref="parent_model_class" minOccurs="0"/>
				<xs:element ref="depends" minOccurs="0"/>
				<xs:element ref="conflicts" minOccurs="0"/>
				<xs:element ref="setting" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="depends">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="app" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="function" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="class" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="conflicts">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="app" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="function" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="class" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="app_db">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="version"/>
				<xs:element ref="app" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
    <xs:element name="parent_model_class" type="xs:string"/>
    <xs:element name="class" type="xs:string">
		<xs:complexType>
			<xs:attribute name="orderby" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="services">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="service" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="service">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="name"/>
				<xs:element ref="class" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:string"/>
			<xs:attribute name="optname" type="xs:string"/>
			<xs:attribute name="opttype" type="xs:string"/>
		</xs:complexType>
	</xs:element>

	<xs:element name="setting">
		<xs:complexType>
			<xs:attribute name="ctl" type="xs:string" use="required"/>
			<xs:attribute name="act" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>

</xs:schema>