ecstore/app/b2c/xmlschema/apiv_mapper_content.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:element name="apiv_mapper">
  <xs:complexType>

    <xs:element name="api" maxOccurs="unbounded">
      <xs:complexType>

        <xs:element name="target" maxOccurs="unbounded" type="xs:string">
          <xs:complexType>
            <xs:attribute name="vertion" type="xs:string" use="required"/>
          </xs:complexType>
        </xs:element>

        <xs:attribute name="version" type="xs:string" use="required"/>

      </xs:complexType>
    </xs:element>

  </xs:complexType>
</xs:element>

</xs:schema>
